<div class="container">
    <aside class="sidebar">
        <h1>Perfil del paciente</h1>
        <div class="profile-pic">
            <img src="assets/chewbacca.png" alt="Chewbacca">
        </div>
        <div class="profile-info">
            <h2>Chewbacca</h2>
            <p>5 años | Miraflores, Perú</p>
        </div>
        <div class="menu-item" [routerLink]="['/informacion-general']">Información general</div>
        <div class="menu-item" [routerLink]="['/historial-medico']">Historial médico</div>
        <div class="menu-item active" [routerLink]="['/notas-consulta']">Notas de consulta</div>
        <div class="menu-item" [routerLink]="['/planes-accion']">Planes de acción</div>
        <div class="menu-item" [routerLink]="['/archivos']">Archivos</div>
        <div class="menu-item" [routerLink]="['/estadistica']">Estadísticas</div>
    </aside>
    <main class="content">
        <section class="notes-section">
            <div class="note">
                <div class="note-header">
                    <span class="note-date">Sep 2, 2023</span>
                </div>
                <div class="note-content">
                    <p>El dueño reportó que Chewbacca ha estado experimentando dolor en los tobillos. Actualmente, el perrito está bajo un tratamiento que incluye 2.5 mg de prednisona diarios, 10 mg de metrotexato semanalmente, y 1 mg de ácido fólico diario. Además, toma 10 mg de leflunomida diarios y 200 mg de hidroxicloroquina dos veces al día.</p>
                </div>
            </div>
            <div class="note">
                <div class="note-header">
                    <span class="note-date">Aug 31, 2023</span>
                </div>
                <div class="note-content">
                    <p>El dueño informa que Chewbacca ha estado experimentando dolor en los tobillos. Actualmente, el perro está recibiendo un tratamiento que incluye 2.5 mg de prednisona diarios, 10 mg de metrotexato semanalmente, y 1 mg de ácido fólico diario. Además, toma 10 mg de leflunomida diarios y 200 mg de hidroxicloroquina dos veces al día según lo prescrito por el veterinario.</p>
                </div>
            </div>
            <div class="note">
                <div class="note-header">
                    <span class="note-date">Aug 30, 2023</span>
                </div>
                <div class="note-content">
                    <p>El dueño informa que Chewbacca ha estado experimentando dolor en los tobillos. Actualmente, el perro está recibiendo un tratamiento que incluye 2.5 mg de prednisona diarios, 10 mg de metrotexato semanalmente, y 1 mg de ácido fólico diario. Además, toma 10 mg de leflunomida diarios y 200 mg de hidroxicloroquina dos veces al día según lo prescrito por el veterinario.</p>
                </div>
            </div>
            <div class="add-note">
                <textarea placeholder="Añade una nota..."></textarea>
                <button class="send-btn">Enviar</button>
            </div>
        </section>
    </main>
</div>
<router-outlet></router-outlet>