<div class="background">
    <div class="container">
      <div class="consultas-card">
        <h2>Consulta posterior</h2>
        <p>George • Hoy 9:00 AM</p>
        <div class="opciones">
          <h3>¿Qué te gustaría hacer a continuación?</h3>
          <ul>
            <li><mat-icon>medication</mat-icon> Recetar medicamentos</li>
            <li><mat-icon>science</mat-icon> Sugerir más pruebas</li>
            <li><mat-icon>event</mat-icon> Programar una cita de seguimiento</li>
          </ul>
          <button class="saltar-paso">Saltar paso</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
