<div class="container">
    <aside class="sidebar">
        <h1>Perfil del paciente</h1>
        <div class="profile-pic">
            <img src="assets/chewbacca.png" alt="Chewbacca">
        </div>
        <div class="profile-info">
            <h2>Chewbacca</h2>
            <p>5 años | Miraflores, Perú</p>
        </div>
        <div class="menu-item" [routerLink]="['/informacion-general-vet']">Información general</div>
        <div class="menu-item active" [routerLink]="['/historial-medico-vet']">Historial médico</div>
        <div class="menu-item" [routerLink]="['/notas-consulta-vet']">Notas de consulta</div>
        <div class="menu-item" [routerLink]="['/planes-accion-vet']">Planes de acción</div>
        <div class="menu-item" [routerLink]="['/archivos-vet']">Archivos</div>
        <div class="menu-item" [routerLink]="['/estadistica-vet']">Estadísticas</div>
    </aside>
    <main class="content">
        <header>
            <button class="edit-btn">Editar información</button>
        </header>
        <section class="info-section">
            <div class="info-box">
                <nav class="navbar">
                    <ul class="navbar-links">
                      <li><a>Resumen</a></li>
                      <li><a>Condiciones</a></li>
                      <li><a>Medicamentos</a></li>
                    </ul>
                </nav>
                <p style="margin-top: 25px;">Chewbacca es un Golden Dodle de 5 años de edad, macho tiene alergia en 
                    las almohadillas, presenta un soplo mínimo por lo que requiere un 
                    ecocardiograma.</p>
                <p><strong>Edad:</strong> 5, <strong>Altura:</strong> 40, <strong>Peso:</strong> 16 kg</p>
                <p><strong style="font-size: 17px; margin-top: 10px;">Examen médico</strong></p>
                <p>Presión arterial: 120/80 mmHg, Pulso: 70 lpm, Temperatura: 98.6 °F, 
                    Peso: 160 lbs</p>
                <p>Fecha: 1 de junio de 2023</p>
                <h2 style="margin-top: 30px; margin-bottom: 20px;">Vitales y laboratorios</h2>
                <p class="mini">Panel de lípidos y glucosa</p>
                <p>Colesterol total: 200 mg/dL, HDL: 50 mg/dL, LDL: 130 mg/dL, Triglicéridos: 100 mg/dL, 
                    Glucosa: 90 mg/dL, Hemoglobina A1c: 5%</p>
                <p>Fecha: 1 de junio de 2023</p>
                <p class="mini">Panel metabólico completo</p>
                <p>Leucocrum: 6,0 K/uL, Hgb: 14 g/dL, Plt: 200 K/uL, Na: 140 mmol/L, K: 4,0 mmol/L, Cr: 0,9 
                    mg/dL, AST: 20 U/L, ALT: 25 U/L</p>
                <p>Fecha: 1 de junio de 2023</p>
                <p class="mini">Detección de enfermedades infecciosas</p>
                <p>Hepatitis B: Inmune (HBsAb+), Hepatitis C: No reactivo</p>
                <p>Fecha: 1 de junio de 2023</p>
            </div>
        </section>
    </main>
</div>
<router-outlet></router-outlet>