<div class="container">
    <aside class="sidebar">
        <h1>Perfil del paciente</h1>
        <div class="profile-pic">
            <img src="assets/chewbacca.png" alt="Chewbacca">
        </div>
        <div class="profile-info">
            <h2>Chewbacca</h2>
            <p>5 años | Miraflores, Perú</p>
        </div>
        <div class="menu-item" [routerLink]="['/informacion-general-vet']">Información general</div>
        <div class="menu-item" [routerLink]="['/historial-medico-vet']">Historial médico</div>
        <div class="menu-item" [routerLink]="['/notas-consulta-vet']">Notas de consulta</div>
        <div class="menu-item" [routerLink]="['/planes-accion-vet']">Planes de acción</div>
        <div class="menu-item active" [routerLink]="['/archivos-vet']">Archivos</div>
        <div class="menu-item" [routerLink]="['/estadistica-vet']">Estadísticas</div>
    </aside>
    <main class="content">
        <header>
            <button class="edit-btn">Editar información</button>
        </header>
    </main>
</div>
<router-outlet></router-outlet>