<div class="tienda">
    <main>
        <div class="dashboard">
        <section class="dashboard-item tiendita">
            <h2>La Tiendita</h2>
            <div class="consultas-list">
            <div class="consulta-card" *ngFor="let producto of productos">
                <img [src]="producto.img" [alt]="producto.nombre">
                <div class="appointment-details">
                    <p>{{ producto.nombre }}</p>
                    <p class="price" *ngIf="producto.precio.indexOf(' ') !== -1"> <del>{{ producto.precio.split(' ')[0] }}</del> {{ producto.precio.split(' ')[1] }} </p> 
                    <p class="price" *ngIf="producto.precio.indexOf(' ') === -1">{{ producto.precio }}</p>
                </div>
                <div class="Cart">
                <button class="add-to-cart" >
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACFElEQVR4nO2ZPy8sURiHV6PBKvVULArRKCTiTxalREe1JBRXwwfYjyDccq8oRCE6ilXxBZSr9p+CYqlI7j5yYovJsWbPO+fsziHzJNPsnN95zzOZmXdONpVKSEhI+JUAXcAsMN+kY0bVdC2xAbzTfN6AdVcS40CF+KgAYy5EtoifTRciJyEFLoEJoA2YBK4Ei5NkT1yIlEIKTGhjpwQikmzJhUg5pECbNrZVINKqZdtDxpZtJdJ1FvPlITS1+OalEkbaRiQTOvXnfT1iK6LmAK7rRDI2ItMGazpwIHJgEMnaiOQMChxqGZOeU9EyhwaZnI1I3qDAqZZ5MMjca5kzg0zeRqRgUOAGaAlkdg0yO4HxLcCdQaZgI1LEjKFApqfOK1ud6w6MHzasUWxUMwyyp+VGgcca49Rvo9rYfcMaJRuRsCsb5L/qAzV60Kq6jarHCtChjZkUfJCWG9UMdZ6AAcH8g8CzsEa6Ec2wFi/AQvDhrzGvergXgdcI82eiiGSJzjnwB+irfkO1Vy/MWvVcVLJRRJbxj6VGNcNmk48i8g//KLjeGcZFMYrIBf5RiiKiXqW+8SKV6MRf0hKRfvwl43pnGBdZicgS/pL76c1Q3hQ9bYbypuhpM5Q3RU+bobwpCnaGcVCWiNzjL7cSkb/4y7ZEpAM4xj+O1G7TWCQg1AvMNfEP0PlvDrWGXrFAQkJCQspXPgCPvUshVraYkgAAAABJRU5ErkJggg==">
                </button>
                </div>
            </div>
            </div>
        </section>
        </div>
    </main>
</div>
  