<div class="container">
    <aside class="sidebar">
        <h1>Perfil del paciente</h1>
        <div class="profile-pic">
            <img src="assets/chewbacca.png" alt="Chewbacca">
        </div>
        <div class="profile-info">
            <h2>Chewbacca</h2>
            <p>5 años | Miraflores, Perú</p>
        </div>
        <div class="menu-item" [routerLink]="['/informacion-general-duenio']">Información general</div>
        <div class="menu-item" [routerLink]="['/historial-medico-duenio']">Historial médico</div>
        <div class="menu-item" [routerLink]="['/notas-consulta-duenio']">Notas de consulta</div>
        <div class="menu-item" [routerLink]="['/planes-accion-duenio']">Planes de acción</div>
        <div class="menu-item" [routerLink]="['/archivos-duenio']">Archivos</div>
        <div class="menu-item active" [routerLink]="['/estadistica-duenio']">Estadísticas</div>
    </aside>
    <main class="content">
        <section style="margin-top: 15px; margin-bottom: 15px;">
            <img src="assets/estadistica.jpg" class="rounded-border" alt="Estadistica">
        </section>
    </main>
</div>
<router-outlet></router-outlet>