<div class="video-consulta">
    <h1>Video Consulta {{ nombrePaciente }} • Hoy 9:00 AM</h1>
    <div class="video-container">
      <div class="video-main">
        <img src="assets/video_main.jpeg" alt="Main Video">
      </div>
      <div class="video-side">
        <img src="assets/video_side1.jpeg" alt="Doctor">
        <img src="assets/video_side2.jpeg" alt="Pet">
      </div>
    </div>
    <div class="video-controls">
      <div class="control-icon">
        <mat-icon>videocam</mat-icon>
      </div>
      <div class="control-icon">
        <mat-icon>mic_off</mat-icon>
      </div>
      <div class="control-icon">
        <mat-icon>camera_alt</mat-icon>
      </div>
      <div class="control-icon end-call">
        <mat-icon>call_end</mat-icon>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  